<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description" content="Aria is a business focused HTML landing page template built with Bootstrap to help you create lead generation websites for companies and their services.">
    <meta name="author" content="Inovatik">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="" />
    <!-- website name -->
    <meta property="og:site" content="" />
    <!-- website link -->
    <meta property="og:title" content="" />
    <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" />
    <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" />
    <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" />
    <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>SIWIKODE</title>
    <link href="../img/location.png" rel="icon" sizes="32x32" type="image/png" />

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/fontawesome-all.css" rel="stylesheet">
    <link href="../css/swiper.css" rel="stylesheet">
    <link href="../css/magnific-popup.css" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet">

    <!-- Favicon  -->
    <link rel="icon" href="images/favicon.png">
</head>

<body data-spy="scroll" data-target=".fixed-top">

    <!-- Preloader -->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->


    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Aria</a> -->

        <!-- Image Logo -->

        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->
        <style>
            h1 {
                color: white;
            }
        </style>
        <h1>SIWIKODE
        </h1>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="../index.html#home">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="../index.html#gallery-wisata">GALLERY WISATA</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle page-scroll" href="../index.html#registrasi" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">REGISTRASI</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="../registrasi-rekreasi.html"><span class="item-text">WISATA REKREASI</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" href="../registrasi-kuliner.html"><span class="item-text">WISATA KULINER</span></a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="../index.html#about">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="../index.html#login">LOGIN</a>
                </li>
            </ul>
    </nav>
    <!-- end of navbar -->
    <!-- end of navbar -->


    <!-- Header -->
    <header id="detail-1" class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Detail Wisata Kuliner</h1>
                    <h3>GHAWIL CAFE & COFFE</h3>
                </div>
                <!-- end of col -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container -->
    </header>
    <!-- end of ex-header -->
    <!-- end of header -->


    <!-- Breadcrumbs -->
    <div id="intro" class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="text-container">
                        <div class="section-title">DETAIL WISATA KULINER</div>
                        <h2>Ghawil Cafe & Coffe</h2>
                        <p>Grand Depok City, Sektor De Rose No. 6KLMN Jl. Boulevard Grand Depok City, Cilodong, Depok ( Alamat Lama: Grand Depok City, Ruko Anggrek 1, Blok C1 No. 57, Jl. Boulevard Grand Depok City, Sukmajaya, Depok )</p>
                        <p>Buka - Rabu (10:00 - 24:00) 089520701429, 081385759773</p>
                        <p>Di bawah Rp. 50.000 /orang</p>
                    </div>

                    <br/>
                    <div class="button-container">
                        <a class="btn-solid-reg page-scroll" href="../index.html#gallery-wisata">BACK</a>
                    </div>
                    <!-- end of text-container -->
                </div>
                <!-- end of col -->
                <div class="col-lg-7">
                    <div class="image-container">
                        <img class="img-fluid" src="../img/kuliner/kuliner-9.jpg" alt="alternative">
                    </div>
                    <!-- end of image-container -->
                </div>
                <!-- end of col -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container -->
    </div>
    <!-- end of lightbox-basic -->
    <!-- end of lightbox -->
    <!-- end of project lightboxes -->

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Testimonials -->
                <div class="slider">
                    <div class="container">
                        <!-- end of row -->
                        <div class="row">
                            <div class="col-lg-12">

                                <!-- Card Slider -->
                                <div class="slider-container">
                                    <div class="swiper-container card-slider">
                                        <div class="swiper-wrapper">

                                            <!-- Slide -->
                                            <div class="swiper-slide">
                                                <div class="card">
                                                    <img class="card-image" src="../img/7.jpeg" alt="alternative">
                                                    <div class="card-body">
                                                        <div class="testimonial-text">Tempatnya bagus, saya suka. kayanya tidak diragukan lagi untuk kalian coba juga kesini</div>
                                                        <div class="testimonial-author">Najwa Shihab</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end of swiper-slide -->
                                            <!-- end of slide -->

                                            <!-- Slide -->
                                            <div class="swiper-slide">
                                                <div class="card">
                                                    <img class="card-image" src="../img/2.jpeg" alt="alternative">
                                                    <div class="card-body">
                                                        <div class="testimonial-text">Tempatnya unik, gw suka. Next time kayanya gw bakal kesini lagi. Terima kasih atas sanjungannya</div>
                                                        <div class="testimonial-author">Boy Wiliam</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end of swiper-slide -->
                                            <!-- end of slide -->

                                            <!-- Slide -->
                                            <div class="swiper-slide">
                                                <div class="card">
                                                    <img class="card-image" src="../img/3.jpeg" alt="alternative">
                                                    <div class="card-body">
                                                        <div class="testimonial-text">the place is nice I like it, thank you for the flattery. very impressive, kalian harus berkunjung juga kesini</div>
                                                        <div class="testimonial-author">Maudy Ayunda</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end of swiper-slide -->
                                            <!-- end of slide -->

                                            <!-- Slide -->
                                            <div class="swiper-slide">
                                                <div class="card">
                                                    <img class="card-image" src="../img/4.jpeg" alt="alternative">
                                                    <div class="card-body">
                                                        <div class="testimonial-text">Bagus banget tempatnya bro, unik juga, gw bakal main lagi ketempat ini. Terima kasih atas sanjungannya</div>
                                                        <div class="testimonial-author">Raffi Ahmad</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end of swiper-slide -->
                                            <!-- end of slide -->

                                            <!-- Slide -->
                                            <div class="swiper-slide">
                                                <div class="card">
                                                    <img class="card-image" src="../img/5.jpeg" alt="alternative">
                                                    <div class="card-body">
                                                        <div class="testimonial-text">Crazy! really good coy I really like it, thank you for the flattery, thank so much hahaha</div>
                                                        <div class="testimonial-author">Gita Safitri Devi</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end of swiper-slide -->
                                            <!-- end of slide -->

                                            <!-- Slide -->
                                            <div class="swiper-slide">
                                                <div class="card">
                                                    <img class="card-image" src="../img/6.jpeg" alt="alternative">
                                                    <div class="card-body">
                                                        <div class="testimonial-text">Asli bagus banget tempatnya sahabat BosQue, indah banget. Terima kasih juga atas sanjungannya</div>
                                                        <div class="testimonial-author">Baim Wong</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end of swiper-slide -->
                                            <!-- end of slide -->

                                        </div>
                                        <!-- end of swiper-wrapper -->

                                        <!-- Add Arrows -->
                                        <div class="swiper-button-next"></div>
                                        <div class="swiper-button-prev"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Intro -->

            </div>
            <!-- end of text-container -->
        </div>
        <!-- end of col -->
    </div>
    <!-- end of row -->
    </div>
    <!-- end of container -->
    </div>
    <!-- end of footer -->
    <!-- end of footer -->



    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Develope By Mahasiswa ©STT-NF 2020
                    </p>
                </div>
                <!-- end of col -->
            </div>
            <!-- enf of row -->
        </div>
        <!-- end of container -->
    </div>
    <!-- end of copyright -->
    <!-- end of copyright -->


    <!-- Scripts -->
    <script src="../js/jquery.min.js"></script>
    <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="../js/popper.min.js"></script>
    <!-- Popper tooltip library for Bootstrap -->
    <script src="../js/bootstrap.min.js"></script>
    <!-- Bootstrap framework -->
    <script src="../js/jquery.easing.min.js"></script>
    <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="../js/swiper.min.js"></script>
    <!-- Swiper for image and text sliders -->
    <script src="../js/jquery.magnific-popup.js"></script>
    <!-- Magnific Popup for lightboxes -->
    <script src="../js/morphext.min.js"></script>
    <!-- Morphtext rotating text in the header -->
    <script src="../js/isotope.pkgd.min.js"></script>
    <!-- Isotope for filter -->
    <script src="../js/validator.min.js"></script>
    <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="../js/scripts.js"></script>
    <!-- Custom scripts -->
</body>

</html>